p {
  font-family: Lato;
}

div,
button {
  margin-top: 0.5rem;
}

.error {
  color: red;
  font-size: 10px;
}

.wrap {
  text-align: center;
  width: 40rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  padding: 10px;
}
